<div id="header">
    <h1>
        푸르덴셜 타워 방문을 환영합니다.
        <span>(Welcome to Prudential Tower)</span>
    </h1>

</div><!--#header-->
<div id="container_noinput">
    <div id="contents">
        <p class="inner">해당 언어를 선택하여 클릭해주세요.<br />(Choose the language)</p>
        <p></p>
        <div class="btn_area pb100">
            <button class="btn mr15" onclick="location.href='@Url.Action("VisitorInfo", "Tablet")';return false;">한국어</button>
            <button class="btn" onclick="location.href='@Url.Action("VisitorInfoENG", "Tablet")';return false;">English</button>
        </div><!--.btn_area-->
    </div>
</div><!--#container-->

<div id="footer">
    <p>Prudential Tower</p>
</div>