<div id="header">
    <h1>
        푸르덴셜 타워 방문을 환영합니다.
        <span>(Welcome to Prudential Tower)</span>
    </h1>

</div><!--#header-->
</div><!--#header-->
<div id="container_noinput">
    <div id="contents">
        <div class="btn_area pb100">
        </div><!--.btn_area-->
    </div>
</div><!--#container-->
<div id="footer">
    <p>Prudential Tower</p>
</div>