<script>
    $(document).ready(function () {
        // Handler for .ready() called.
        window.setTimeout(function () {
                       location.href = "@Url.Action("VisitorComplete", "tablet")"
        }, 1000);
    });
</script>

<div id="header">
    <h1>
        방문자 등록 처리 중
    </h1>
</div><!--#header-->
<div id="container_noinput">
    <div id="contents">
        <p class="inner_blue pb100">귀하의 방문 등록을 처리 중입니다.</p>

    </div>
</div><!--#container-->
<div id="footer">
    <p>Prudential Tower</p>
</div>
