<script>
    $(document).ready(function () {
        // Handler for .ready() called.
        window.setTimeout(function () {
                       location.href = "@Url.Action("VisitorCompleteENG", "tablet")"
        }, 1000);
    });
</script>

<div id="header">
    <h1>
        Visitor registration in progress
    </h1>
</div><!--#header-->
<div id="container_noinput">
    <div id="contents">
        <p class="inner_blue pb100">
            Your visit registration is being processed.
        </p>

    </div>
</div><!--#container-->
<div id="footer">
    <p>Prudential Tower</p>
</div>